.courses_section {
    display: grid;
    gap: 40px;
}

.course_card {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 40px;
}

.cards_header {
    padding: 24px 28px;
    background-image: linear-gradient(#FF6F48, #F02AA6);
}

.course_card img {
    position: absolute;
    top: -20%;
    padding: 17px;
    border-radius: 50%;
    background-image: linear-gradient(#FF6F48, #F02AA6);
}

.course_card h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.course_card h2{
    font-size: 20px;
    font-weight: bolder;
    color: #13183F;
    margin-top: 24px;
    margin-bottom: 16px;
}

.course_card p {
    font-weight: 700;
    color: #83869A;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) { 
    .courses_section {
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media screen and (min-width: 1440px) { 
    .courses_section {
        grid-template-columns: repeat(3, 1fr);
    } 
}