.welcome_section h1 {
    font-size: 56px;
    font-weight: bolder;
    color: #13183F;
}

.welcome_section p {
    font-size: 16px;
    color: #83869A;
    font-weight: bold;
    line-height: 28px;
    margin: 25px 0 25px 0;
}

.welcome_section img {
    display: block;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .welcome_section {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
}

@media screen and (min-width: 1440px) { 
    .welcome_section {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}